@import 'bootstrap/scss/bootstrap';
@import "bootstrap/scss/functions";

#root{
  min-height: 100vh;
  width: 100%;
}

#login-form{
  max-width: max(40%,300px);
}

.logout-btn{
  border-radius: 50rem !important;
  position: relative;
}

.box{
  @extend .bg-body-tertiary;
  @extend .rounded-2;
  @extend .shadow;
  @extend .p-2;
}

.icon{
  @extend .ratio;
  @extend .ratio-1x1;
  max-width: 300px;
  max-height: 300px;
  margin: auto;
}

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// Optional Bootstrap components here
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
